
<div class="max-height row grey-bg">
  <div class="container">
    <div class="row">
      <section id="recover-password" class="mx-auto col-md-6 text-left">
        <div class="text-center pt-5"><h3><%= t('devise.passwords.new.forgot_your_password') %><br></h3><br><br></div>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>

          <div class="actions">
            <%= f.submit t('devise.passwords.new.send_me_reset_password_instructions'), class: "btn btn-default" %>
          </div>
        <% end %>

      </section>
    </div>
  </div>
</div>
