<div class="row grey-bg">
  <div class="container">
    <div class="col-12">
      <section id="login" class="text-center">
        <h3>LOG IN or SIGN UP<br/></h3>
        <div class="row">
          <div id="login-part" class="col-md-6 text-left">
            <h4 class="d-none d-md-block">Log in</h4>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {autocomplete: :off}) do |f| %>

            <div class="form-group">
              <%= f.text_field :login, placeholder: "Username or Email", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
            </div>

            <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
            <% end -%>

            <div class="actions">
              <%= f.submit "Log in", class: "btn btn-default" %>
            </div>
            <% end %>

            <%# render "devise/shared/links" %>

            <br>
            <span class="d-md-none">If you are not registered yet click here</span>
            <span class="d-md-none signup btn btn-default" style="font-size:16px; width: 110px; border-radius: 1px">Signup</span>
            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <%= link_to "Forgot your password?", new_password_path(resource_name), class: 'btn btn-default' %><br />
            <% end -%>

          </div>
          <div id="signup-part" class="col-md-6 text-left d-none d-md-block">
            <h4>Sign up</h4>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {autocomplete: :off}) do |f| %>
            <%= hidden_field_tag 'user[referred_by]', session[:referred_by] %>
            <%= devise_error_messages! %>

            <div class="form-group">
              <%= f.text_field :username, class: "form-control", placeholder: "Nickname *", required: true %>
            </div>

            <div class="form-group">
              <%= f.text_field :first_name, class: "form-control", placeholder: "First Name" %>
            </div>

            <div class="form-group">
              <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
            </div>

            <div class="form-group">
              <%= f.email_field :email, class: "form-control", placeholder: "Email *", required: true %>
            </div>

            <div class="form-group">
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em><br>
              <% end %>
              <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password *" %>
            </div>

            <div class="form-group">
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm password *" %>
            </div>

            <div class="form-group">
              <%= check_box_tag :tos, nil, false, required: true %>
              <label for="tos" style="display: inline; margin-left:10px">By checking this flag you confirm our Terms of Services and Contribution agreement: <a href="/docs/terms.pdf">read more ...</a></label>
            </div>

            <p>
              <div class="g-recaptcha" data-sitekey="<%= ENV['RECAPTCHA_SITE_KEY'] %>"></div>
            </p>

            <div class="actions">

              <%= f.submit "Sign up", class: "btn btn-default" %>
            </div>
            <% end %>

          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<% content_for :extra_js do %>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>

  <script>
  $(".btn.signup").click(function(){
    $("#signup-part").removeClass('d-none');
    $("#login-part").addClass('d-none');
  });
  </script>
<% end %>
