<div id="faq" class="container">
  <div class="col-12">
    <section id="faq" class="text-center">
      <h3><%= t('faq._') %><br/></h3>
      <div id="ask-question" class="text-left">
        <p class="ask">
          <a data-toggle="collapse" href="#collapseFaq1" aria-expanded="false" aria-controls="collapseFaq1">
            <%= t('faq.question_1') %>
          </a>
        </p>
        <div class="collapse" id="collapseFaq1">
          <div class="card card-block">
            <%= t('faq.answer_1_html') %>
          </div>
        </div>
      </div>
      <div id="ask-question" class="text-left">
        <p class="ask">
          <a data-toggle="collapse" href="#collapseFaq2" aria-expanded="false" aria-controls="collapseFaq2">
            <%= t('faq.question_2') %>
          </a>
        </p>
        <div class="collapse" id="collapseFaq2">
          <div class="card card-block">
            <%= t('faq.answer_2_html') %>
          </div>
        </div>
      </div>
      <div id="ask-question" class="text-left">
        <p class="ask">
          <a data-toggle="collapse" href="#collapseFaq3" aria-expanded="false" aria-controls="collapseFaq3">
            <%= t('faq.question_3') %>
          </a>
        </p>
        <div class="collapse" id="collapseFaq3">
          <div class="card card-block">
            <%= t('faq.answer_3_html') %>
          </div>
        </div>
      </div>
      <div id="ask-question" class="text-left">
        <p class="ask">
          <a data-toggle="collapse" href="#collapseFaq4" aria-expanded="false" aria-controls="collapseFaq3">
            <%= t('faq.question_4') %>
          </a>
        </p>
        <div class="collapse" id="collapseFaq4">
          <div class="card card-block">
            <%= t('faq.answer_4_html') %>
          </div>
        </div>
      </div>
      <div id="ask-question" class="text-left">
        <p class="ask">
          <a data-toggle="collapse" href="#collapseFaq5" aria-expanded="false" aria-controls="collapseFaq5">
            <%= t('faq.question_5') %>
          </a>
        </p>
        <div class="collapse" id="collapseFaq5">
          <div class="card card-block">
            <%= t('faq.answer_5_html') %>
          </div>
        </div>
      </div>
      <div id="ask-question" class="text-left">
        <p class="ask">
          <a data-toggle="collapse" href="#collapseFaq6" aria-expanded="false" aria-controls="collapseFaq6">
            <%= t('faq.question_6') %>
          </a>
        </p>
        <div class="collapse" id="collapseFaq6">
          <div class="card card-block">
            <%= t('faq.answer_6_html') %>
          </div>
        </div>
      </div>
      <div id="ask-question" class="text-left">
        <p class="ask">
          <a data-toggle="collapse" href="#collapseFaq7" aria-expanded="false" aria-controls="collapseFaq7">
            <%= t('faq.question_7') %>
          </a>
        </p>
        <div class="collapse" id="collapseFaq7">
          <div class="card card-block">
            <%= t('faq.answer_7_html') %>
          </div>
        </div>
      </div>
      <div id="ask-question" class="text-left">
        <p class="ask">
          <a data-toggle="collapse" href="#collapseFaq8" aria-expanded="false" aria-controls="collapseFaq8">
            <%= t('faq.question_8') %>
          </a>
        </p>
        <div class="collapse" id="collapseFaq8">
          <div class="card card-block">
            <%= t('faq.answer_8_html') %>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
