<section id="team" class="text-center col-12">
  <h3><%= t('team._') %><br/></h3>
  <div class="row justify-content-md-center">
    <div class="col-md-3 col-6">
      <img class="img-responsive rounded-circle" width="90%" src="/images/site/team/Angelobn.jpg"/>
      <p class="team-name">Angelo Melis<br></p>
      <%= t('team.member_1_bio_html') %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-6">
      <img class="img-responsive rounded-circle" width="90%" src="/images/site/team/Stefanobn.jpg"/>
      <p class="team-name">Stefano Gessa<br></p>
      <%= t('team.member_3_bio_html') %>
    </div>
    <div class="col-md-3 col-6">
      <img class="img-responsive rounded-circle" width="90%" src="/images/site/team/davidebn.jpg"/>
      <p class="team-name">Davide Puddu<br></p>
      <%= t('team.member_4_bio_html') %>
    </div>
    <div class="col-md-3 col-6">
      <img class="img-responsive rounded-circle" width="90%" src="/images/site/team/Robbn.jpg"/>
      <p class="team-name">Roberto Randine<br></p>
      <%= t('team.member_5_bio_html') %>
    </div>
    <div class="col-md-3 col-6">
      <img class="img-responsive rounded-circle" width="90%" src="/images/site/team/domenicobn.jpg"/>
      <p class="team-name">Domenico Birardi<br></p>
      <%= t('team.member_6_bio_html') %>
    </div>
    <div class="col-md-3 col-6">
      <img class="img-responsive rounded-circle" width="90%" src="/images/site/team/Raimondibn.jpg"/>
      <p class="team-name">Gianluca Raimondi<br></p>
      <%= t('team.member_10_bio_html') %>
    </div>
    <div class="col-md-3 col-6">
      <img class="img-responsive rounded-circle" width="90%" src="/images/site/team/yonghoonbn.jpg"/>
      <p class="team-name">Yonghoon Lim<br></p>
      <%= t('team.member_11_bio_html') %>
    </div>
    <div class="col-md-3 col-6">
      <img class="img-responsive rounded-circle" width="90%" src="/images/site/team/tozzibn.jpg"/>
      <p class="team-name">Alessandro Tozzi<br></p>
      <%= t('team.member_14_bio_html') %>
    </div>
    <div class="col-md-3 col-6">
      <img class="img-responsive rounded-circle" width="90%" src="/images/site/team/lihua.png"/>
      <p class="team-name">LI HUA<br></p>
      <%= t('team.member_20_bio_html') %>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-3 col-6">
      <img class="img-responsive rounded-circle" width="90%" src="/images/site/team/lihui.png"/>
      <p class="team-name">LI HUI<br></p>
      <%= t('team.member_21_bio_html') %>
    </div>
    <div class="col-md-3 col-6">
      <img class="img-responsive rounded-circle" width="90%" src="/images/site/team/formenti.png"/>
      <p class="team-name">Stefano Formenti<br></p>
      <%= t('team.member_22_bio_html') %>
    </div>
    <div class="col-md-3 col-6">
      <img class="img-responsive rounded-circle" width="90%" src="/images/site/team/giammabn.jpg"/>
      <p class="team-name">Gianmatteo Ugolini<br></p>
      <%= t('team.member_8_bio_html') %>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-3 col-6">
      <img class="img-responsive rounded-circle" width="90%" src="/images/site/team/carl_bn.jpg"/>
      <p class="team-name">Carl Anthony<br></p>
      <%= t('team.member_25_bio_html') %>
    </div>
    <div class="col-md-3 col-6">
      <img class="img-responsive rounded-circle" width="90%" src="/images/site/team/elisha.jpg"/>
      <p class="team-name">Elisha Owusu Akyaw<br></p>
      <%= t('team.member_26_bio_html') %>
    </div>
  </div>

  <h3>Advisory Board<br/></h3>
  <div class="row justify-content-md-center">
    <div class="col-md-3 col-6">
      <img class="img-responsive rounded-circle" width="90%" src="/images/site/team/bitboost.png"/>
      <p class="team-name">BitBoost<br></p>
      <%= t('team.member_24_bio_html') %>
    </div>
    <div class="col-md-3 col-6">
      <img class="img-responsive rounded-circle" width="90%" src="/images/site/team/oxy.png"/>
      <p class="team-name">OxyCoin<br></p>
      <%= t('team.member_23_bio_html') %>
    </div>
    <div class="col-md-3 col-6">
      <img class="img-responsive rounded-circle" width="90%" src="/images/site/team/jan.jpg"/>
      <p class="team-name">Jan Willem Veldhuis<br></p>
      <%= t('team.member_17_bio_html') %>
    </div>
    <div class="col-md-3 col-6">
      <img class="img-responsive rounded-circle" width="90%" src="/images/site/team/robseatrips.jpg"/>
      <p class="team-name">Rob Keus<br></p>
      <%= t('team.member_18_bio_html') %>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-3 col-6">
      <img class="img-responsive rounded-circle" width="90%" src="/images/site/team/coinbar.png"/>
      <p class="team-name">Coinbar<br></p>
      <%= t('team.member_7_bio_html') %>
    </div>
    <div class="col-md-3 col-6">
      <img class="img-responsive rounded-circle" width="90%" src="/images/site/team/zcoin.jpg"/>
      <p class="team-name">Zcoin<br></p>
      <%= t('team.member_28_bio_html') %>
    </div>
    <div class="col-md-3 col-6">
      <img class="img-responsive rounded-circle" width="90%" src="/images/site/team/reddcoin.jpg"/>
      <p class="team-name">Reddcoin<br></p>
      <%= t('team.member_29_bio_html') %>
    </div>
  </div>
</section>
